.v-table>.v-table__wrapper>table>tbody>tr>td, .v-table>.v-table__wrapper>table>tbody>tr>th, .v-table>.v-table__wrapper>table>tfoot>tr>td, .v-table>.v-table__wrapper>table>tfoot>tr>th, .v-table>.v-table__wrapper>table>thead>tr>td, .v-table>.v-table__wrapper>table>thead>tr>th {
    padding: 0 3px;
    transition-duration: .28s;
    transition-property: box-shadow, opacity, background, height;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.v-table--density-default {
    --v-table-header-height: 35px;
    --v-table-row-height: 35px;
}
.v-field {
  --v-field-padding-start: 3px;
    --v-field-padding-end: 3px;
}
.v-input--density-compact .v-field--no-label, .v-input--density-compact .v-field--single-line, .v-input--density-compact .v-field--variant-outlined {
    --v-field-padding-bottom: 2px;
}
.v-input--density-compact {
    --v-input-control-height: 33px;
    --v-input-padding-top: 2px;
}
.v-input__control {
    margin: 3px 1px;
}
.v-input {
    margin: 3px 0px;
}

#workspace-small-sidebar{
    display: none !important;
}
/* 
.chrome {
    transform: scale(0.9);
    transform-origin: top left;
    width: 111.1111%;
    height: 111.1111%;
    overflow-x: hidden;
  } */
  .v-col, .v-col-1, .v-col-10, .v-col-11, .v-col-12, .v-col-2, .v-col-3, .v-col-4, .v-col-5, .v-col-6, .v-col-7, .v-col-8, .v-col-9, .v-col-auto, .v-col-lg, .v-col-lg-1, .v-col-lg-10, .v-col-lg-11, .v-col-lg-12, .v-col-lg-2, .v-col-lg-3, .v-col-lg-4, .v-col-lg-5, .v-col-lg-6, .v-col-lg-7, .v-col-lg-8, .v-col-lg-9, .v-col-lg-auto, .v-col-md, .v-col-md-1, .v-col-md-10, .v-col-md-11, .v-col-md-12, .v-col-md-2, .v-col-md-3, .v-col-md-4, .v-col-md-5, .v-col-md-6, .v-col-md-7, .v-col-md-8, .v-col-md-9, .v-col-md-auto, .v-col-sm, .v-col-sm-1, .v-col-sm-10, .v-col-sm-11, .v-col-sm-12, .v-col-sm-2, .v-col-sm-3, .v-col-sm-4, .v-col-sm-5, .v-col-sm-6, .v-col-sm-7, .v-col-sm-8, .v-col-sm-9, .v-col-sm-auto, .v-col-xl, .v-col-xl-1, .v-col-xl-10, .v-col-xl-11, .v-col-xl-12, .v-col-xl-2, .v-col-xl-3, .v-col-xl-4, .v-col-xl-5, .v-col-xl-6, .v-col-xl-7, .v-col-xl-8, .v-col-xl-9, .v-col-xl-auto, .v-col-xxl, .v-col-xxl-1, .v-col-xxl-10, .v-col-xxl-11, .v-col-xxl-12, .v-col-xxl-2, .v-col-xxl-3, .v-col-xxl-4, .v-col-xxl-5, .v-col-xxl-6, .v-col-xxl-7, .v-col-xxl-8, .v-col-xxl-9, .v-col-xxl-auto {
    padding: 11px 6px;
    width: 100%;
}
.v-row { 
    margin: -13px -7px;
}


.v-table--density-default {
    --v-table-header-height: 29px !important;
    --v-table-row-height:29px !important;
}
.v-table>.v-table__wrapper>table>tbody>tr>td, .v-table>.v-table__wrapper>table>tbody>tr>th, .v-table>.v-table__wrapper>table>tfoot>tr>td, .v-table>.v-table__wrapper>table>tfoot>tr>th, .v-table>.v-table__wrapper>table>thead>tr>td, .v-table>.v-table__wrapper>table>thead>tr>th
 {
    padding: 0px 2px 3px 3px !important;
    transition-duration: .28s;
    transition-property: box-shadow, opacity, background, height;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.v-text-field .v-field--active input, .v-text-field .v-field--no-label input {
    opacity: 1;
    font-size: 15px !important;
    padding: 0 6px !important;
    margin: 0px !important;
    min-height: 30px !important;
    height: 20px !important;
}
.v-field__field {   
    min-height: 30px !important;
    height: 30px !important; 
}
.v-input--density-compact .v-field--no-label, .v-input--density-compact .v-field--single-line, .v-input--density-compact .v-field--variant-outlined {
    --v-field-padding-bottom: 0 !important;
}
.v-text-field .v-field--active input, .v-text-field .v-field--no-label input {
    opacity: 1;
    font-size: 15px !important;
    padding: 0 6px !important;
}
